<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9">
			<!-- <header> -->
				<a href="{{url_for('welcome')}}">
					<div class="logo">
            			<img src="{{url_for('static', filename='images/logo.jpg')}}" alt="jntu-logo" style="float: left;"/>
					</div>
					<div class="na-ti" style="margin-left: 15px;">
						<span class="jnt">Jawaharlal Nehru Technological University, Kakinada</span>
						<span class="jnt-sub">Kakinada - 533 003, Andhra Pradesh, India</span>
						<span class="efe">Director & Admissions</span>
					</div>	
				</a>
			<!-- </header> -->
		</div>
	</div>
</div>