{% extends 'base.html' %}
{% block title %} 
{{ title }} 
{% endblock %}

{% block content%}

<!--for  flash alerts start -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> -->
<!--end for flash alerts-->
<div class="register">
	{% include "includes/alert.html" %}
    <h1> Register</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off" oninput='cnfrmpassword.setCustomValidity(cnfrmpassword.value != password.value ? "Passwords do not match." : "")'>
        
        <label for="name">
            <i class="fas fa-address-book fa-lg"></i>
        </label>
        <input type="text" name="name" placeholder="Enter Your Name" id="name" required>

        <label for="userType">
            <i class="fas fa-user-cog"></i>
        </label>
        <select name="userType" placeholder="User Type" id="userType" required>            
                <option value="User" selected>User</option>            
        </select>
        
        <label for="clgName" name="clgName">
            <i class="fas fa-university"></i>
        </label>
        <select name="clgName" placeholder="User Type" id="clgName" required> 
        </select>
        <script>
                $.ajax({
                    type : 'POST',
                    url : '/getColleges'
                })
                .done(function(data) 
                {
                    $('#clgName').append(`<option value=''>Select College</option>`);
                    data.colleges.forEach(getCollege);                    
                    function getCollege(item)
                    {
                        $('#clgName').append(`<option value='${item}'>${item}</option>`);
                    }
                    
                }); 
        </script>      

        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" pattern="[A-Z_a-z]{3,}[0-9]{2,}" required title="Username Must contain Starts with Capital and numbrs in it ex:Sai12">
        
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*_=+-])(?=.*[0-9]).{8,16}" title="Minimum 8 characters, atleast one (capital && small && special && number): ex:Sai@1234">             
       
        <label for="cnfrmpassword">
            <span class="input-group-text">
                <i class="fa fa-lock"></i>
            </span>    
        </label>
        <input type="password" name="cnfrmpassword" placeholder="Confirm Password" id="cnfrmpassword" required>   

        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>

        <input type="submit" value="Register">
    </form>
</div>
<!--for flash alerts start -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--end for flash alerts-->
{% endblock %}